aria2p==0.11.3
beautifulsoup4==4.12.2
chromedriver_autoinstaller==0.6.3
gdown==4.7.1
keyboard==0.13.5
psutil==5.9.6
Requests==2.31.0
schedule==1.2.1
selenium==4.16.0
tqdm==4.66.1
undetected_chromedriver==3.5.4
pyTextColor
scdl
pyuac
patool
lightnovel-crawler
spotdl




